<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/bower_components/jquery/dist/jquery.js"></script>
  </head>
  <body>

    <script>

    // https://shrouded-shore-25367.herokuapp.com/

    $(document).ready(init);

    function init() {
      console.log('init');

      var settings = {
      "async": true,
      "crossDomain": true,
      "url": "http://api.population.io:80/1.0/countries",
      "method": "GET",
      "dataType": "jsonp",
      "headers": {
        "cache-control": "no-cache"
        // "content-type:application/json"
      }
    }

    $.ajax(settings).done(function (response) {
      console.log(response);
    });
    

    }

    </script>


    {{{body}}}
  </body>
</html>
