<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/bower_components/jquery/dist/jquery.js"></script>
  </head>
  <body>

    <script>

    // https://shrouded-shore-25367.herokuapp.com/

    $(document).ready(init);

    function init() {
      console.log('init');
    }

    </script>


    {{{body}}}
  </body>
</html>
