<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/bower_components/jquery/dist/jquery.js"></script>
  </head>
  <body>

    <script>
//  Consider
    // https://shrouded-shore-25367.herokuapp.com/

    $(document).ready(init);

    function init() {

      getShortestCountryName();

      $(".container").append("<p></p>").css("background-color", "blue");

      $(".inner").on("click", function(e) {
        e.preventDefault();

        var countryName = e.target.innerText
        var divCountry = "#" + e.target.id;
        $(divCountry).css("background-color", "red");

        var str = countryName.split(",");
        var paramCountry = str[1];

        getcountryOveral(paramCountry);

      })

    }

    function getcountryOveral(paramCountry) {
       $.ajax({
          url: "https://population.simonsfoundation.org/population/2016/" + paramCountry + "/18/",
          method: 'GET',
          success: function(data){
            console.debug(data);

            $(".overal").append("<p>" + "age: " + data[0].age + "</div>");
            $(".overal").append("<p>" + "country: " + data[0].country + "</div>");
            $(".overal").append("<p>" + "females: " + data[0].females + "</div>");
            $(".overal").append("<p>" + "males: " + data[0].males + "</div>");
            $(".overal").append("<p>" + "total: " + data[0].total + "</div>");
            $(".overal").append("<p>" + "year: " + data[0].year + "</div>");

          },
          dataType: "jsonp"
      });
    }

    function getShortestCountryName() {
        var settings = {
            url: "https://population.simonsfoundation.org/countries",
            method: 'GET',
            success: function(data){
            },
            dataType: "jsonp"
        }

      var countriesTies = [300];
      $.ajax(settings).done(function (response) {
        var array = [];
        array = response;
        var country = array.countries;
        // console.log('country', country);

        var sortArray = [];
        for(var i=0; i< country.length; i++) {
          sortArray[i] = [country[i].length, country[i]];
        }

        sortArray.sort( function(a, b) {
          return a[0] - b[0];
        }  )

        // for(var i=0; i<sortArray.length; i++) {
        for(var i=0; i<5; i++) {
          $(".inner").append("<div id=id" + i + ">" + sortArray[i]  + "</div>");
        }

      });
    }

    </script>

    {{{body}}}

      <div class="container">
        <div class="inner"></div>
      </div>

      <div class="overal"></div>

  </body>
</html>
