<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/bower_components/jquery/dist/jquery.js"></script>
  </head>
  <body>

    <script>

    // https://shrouded-shore-25367.herokuapp.com/

    $(document).ready(init);

    function init() {
              getPopulation();
        }

      //  $.ajax({
      //     url: url,
      //     method: 'GET',
      //     success: function(data){
      //       console.debug('Response:');
      //       console.debug(data);
      //     },
      //     dataType: "jsonp"
      // });


        function getPopulation() {
            var settings = {
                url: "https://population.simonsfoundation.org/countries",
                method: 'GET',
                success: function(data){
                  // console.debug('Response:');
                  // console.debug(data);
                },
                dataType: "jsonp"
            }
        //   var settings = {
        //     "async": true,
        //     "dataType": "jsonp",
        //     "crossDomain": true,
        //     "url": "http://api.population.io:80/1.0/countries",
        //     "method": "GET",
        //     "headers": {
        //       "cache-control": "no-cache"
        //     }
        //   }

          $.ajax(settings).done(function (response) {

            var array = [];
            array = response;

            console.log(array);
          });
        }

    // }

    </script>


    {{{body}}}
  </body>
</html>
