<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/bower_components/jquery/dist/jquery.js"></script>
  </head>
  <body>

    <script>

    // https://shrouded-shore-25367.herokuapp.com/

    $(document).ready(init);

    function init() {

      getShortestCounteryName();

      $(".container").append("<p></p>").css("background-color", "blue");

      $(".inner").on("click", function(e) {
        e.preventDefault();

        var divCountry = "#" + e.target.id;
        $(divCountry).css("background-color", "red");
      })

    }

      //  $.ajax({
      //     url: url,
      //     method: 'GET',
      //     success: function(data){
      //       console.debug(data);
      //     },
      //     dataType: "jsonp"
      // });

      function getShortestCounteryName() {
          var settings = {
              url: "https://population.simonsfoundation.org/countries",
              // url: "https://population.simonsfoundation.org/population/2016/Canada/18/",
              method: 'GET',
              success: function(data){
                // console.debug('Response:');
                // console.debug(data);
              },
              dataType: "jsonp"
          }
      //   var settings = {
      //     "async": true,
      //     "dataType": "jsonp",
      //     "crossDomain": true,
      //     "url": "http://api.population.io:80/1.0/countries",
      //     "method": "GET",
      //     "headers": {
      //       "cache-control": "no-cache"
      //     }
      //   }


        var countriesTies = [300];
        $.ajax(settings).done(function (response) {
          var array = [];
          array = response;
          var country = array.countries;
          // console.log('country', country);

          var sortArray = [];
          for(var i=0; i< country.length; i++) {
            sortArray[i] = [country[i].length, country[i]];
          }

          sortArray.sort( function(a, b) {
            return a[0] - b[0];
          }  )

          // for(var i=0; i<sortArray.length; i++) {
          for(var i=0; i<5; i++) {
            $(".inner").append("<div id=id" + i + ">" + sortArray[i]  + "</div>");

            // ('<li id="' + key + '"><span class="name">' + val.entityname + '</span><br><span class="addr">'
            // + val.principaladdress1 + '</span> <span class="city">' + val.principalcity + '</span></li>')



          }

        });
      }

    // }

    </script>

    {{{body}}}

    <!-- <div id="counter">COUNTRY</div> -->

      <div class="container">
        <div class="inner"></div>
      </div>

  </body>
</html>
